body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1090px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: 820px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  vertical-align: top;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 58px;
  line-height: 80px;
  color: white;
  font-family: Poppins;
}

h2 {
  font-size: 48px;
  line-height: 67px;
  color: #031333;
  font-family: poppins;
}

h3 {
  font-size: 38px;
  line-height: 53px;
  color: #031333;
  font-family: poppins;
}

h4 {
  font-size: 30px;
  line-height: 44px;
  color: white;
  font-family: poppins;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  line-height: 25px;
  color: #031333;
  font-family: poppins;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  line-height: 20px;
  color: #F54C1E;
  letter-spacing: 4.2px;
  font-family: Poppins;
  font-weight: 500;
}

span {
  color: #F54C1E;
  font-family: Poppins;
}

a.btn {
  padding: 14px 17px;
  background-color: #F54C1E;
  color: #fff;
  border-radius: 2px;
  display: block;
  max-width: fit-content;
  font-family: Lato;
}

li a {
  font-size: 16px;
  color: #000;
  font-family: Lato;
  font-weight: 400;
  line-height: 20px;
  transition: all ease 0.5s;
}

#header {
  padding: 24px 0;
  position: relative;
}
@media screen and (max-width: 575px) {
  #header {
    padding: 10px 0;
  }
}
#header.show .nav {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  background-color: white;
}
#header.show .nav ul {
  display: block;
  border-top: solid 1px #949494;
  padding: 15px 0;
}
#header.show .nav ul li a {
  padding: 5px 10px;
}
#header.show .nav ul li a:hover {
  background-color: #818181;
  color: white;
}
#header.show .line2 {
  display: none;
}
#header.show .line1 {
  top: 3px;
  position: relative;
  transform: rotate(45deg);
}
#header.show .line3 {
  transform: rotate(-45deg);
}
#header .nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #header .nav {
    display: none;
  }
}
#header .nav ul {
  display: flex;
  column-gap: 55px;
}
@media screen and (max-width: 991px) {
  #header .nav ul {
    column-gap: 30px;
  }
}
#header .nav ul li {
  position: relative;
  padding-bottom: 5px;
}
#header .nav ul li a {
  padding-bottom: 4px;
  display: block;
}
@media screen and (max-width: 767px) {
  #header .nav ul li a {
    position: relative;
  }
}
#header .nav ul li a:hover {
  color: #F54C1E;
}
#header .nav ul li a:after {
  transition: all 0.5s;
  width: 0;
  height: 2px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  color: #F54C1E;
  background-color: #F54C1E;
}
#header .nav ul li a:hover:after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  #header .nav ul li a:hover:after {
    display: none;
  }
}
#header .nav ul li a.active {
  color: #F54C1E;
}
#header .nav ul li a.active::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  #header .nav ul li a.active::after {
    display: none;
  }
}
#header .btn {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
@media screen and (max-width: 767px) {
  #header .btn {
    display: flex;
    align-items: center;
  }
}
#header .btn a.btn {
  transition: all 0.5s;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  #header .btn a.btn {
    font-size: 14px;
    padding: 10px 14px;
  }
}
@media screen and (max-width: 575px) {
  #header .btn a.btn {
    display: none;
  }
}
#header .btn a.btn:hover {
  background-color: #031333;
  color: white;
}
#header .btn .toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  #header .btn .toggle {
    display: block;
  }
}
#header .btn .toggle .line1,
#header .btn .toggle .line3 {
  width: 32px;
  height: 3px;
  transition: all ease 0.5s;
  background-color: #000;
}
#header .btn .toggle .line2 {
  width: 32px;
  height: 3px;
  margin: 5px 0;
  background-color: #000;
}

#banner {
  position: relative;
  background-color: #031333;
  padding-top: 54px;
}
@media screen and (max-width: 991px) {
  #banner {
    padding-top: 40px;
  }
}
#banner .banner-left {
  width: 55%;
  padding: 84px 0 138px 0;
}
@media screen and (max-width: 1365px) {
  #banner .banner-left {
    padding: 60px 0 100px 0;
  }
}
@media screen and (max-width: 1199px) {
  #banner .banner-left {
    padding: 40px 0 80px 0;
  }
}
@media screen and (max-width: 991px) {
  #banner .banner-left {
    padding: 0px 0 40px 0;
  }
}
@media screen and (max-width: 767px) {
  #banner .banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#banner .banner-left h1 {
  font-size: 58px;
  line-height: 80px;
  font-family: Poppins;
}
@media screen and (max-width: 1199px) {
  #banner .banner-left h1 {
    font-size: 48px;
    line-height: 53px;
  }
}
@media screen and (max-width: 991px) {
  #banner .banner-left h1 {
    font-size: 38px;
    line-height: 44px;
  }
}
@media screen and (max-width: 767px) {
  #banner .banner-left h1 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767px) {
  #banner .banner-left h1 br {
    display: none;
  }
}
#banner .banner-left p {
  padding: 23px 0;
  max-width: 470px;
  font-family: Inter;
  color: #F4F3F3;
  line-height: 26px;
}
@media screen and (max-width: 991px) {
  #banner .banner-left p {
    padding: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  #banner .banner-left p {
    padding: 10px 0;
    line-height: 25px;
  }
}
#banner .banner-left a {
  padding: 13px 17px;
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  #banner .banner-left a {
    padding: 7px 10px;
  }
}
#banner .banner-left a:hover {
  background-color: white;
  color: #031333;
}
#banner .banner-right {
  width: 45%;
  display: flex;
}
@media screen and (max-width: 767px) {
  #banner .banner-right {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  #banner .banner-right img {
    width: 100%;
  }
}
#banner::after {
  position: absolute;
  top: 26px;
  right: 0;
  content: "";
  width: 51px;
  height: 112px;
  background-image: url(../images/dotted.png);
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 767px) {
  #banner::after {
    display: none;
  }
}
#banner::before {
  position: absolute;
  bottom: 24px;
  left: 0;
  content: "";
  width: 51px;
  height: 112px;
  background-image: url(../images/dotted.png);
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 1199px) {
  #banner::before {
    display: none;
  }
}

#features {
  position: relative;
  padding: 140px 0;
}
@media screen and (max-width: 1365px) {
  #features {
    padding: 100px 0;
  }
}
@media screen and (max-width: 1199px) {
  #features {
    padding: 70px 0;
  }
}
@media screen and (max-width: 767px) {
  #features {
    padding: 50px 0;
  }
}
@media screen and (max-width: 575px) {
  #features {
    padding: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  #features .row {
    row-gap: 15px;
  }
}
#features .features-title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px;
}
@media screen and (max-width: 1365px) {
  #features .features-title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  #features .features-title {
    margin-bottom: 10px;
  }
}
#features .features-title h6 {
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  #features .features-title h6 {
    margin-bottom: 5px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 991px) {
  #features .features-title h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  #features .features-title h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  #features .features-title h3 {
    font-size: 25px;
    line-height: 25px;
  }
}
#features .features-card {
  width: calc(33.33% - 20px);
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
}
@media screen and (max-width: 575px) {
  #features .features-card .card-image {
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  #features .features-card .card-image img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #features .features-card {
    width: 100%;
    align-items: inherit;
    border: solid 1px #949494;
  }
}
#features .features-card:hover {
  background-color: #F4F3F3;
}
#features .features-card h4 {
  padding: 34px 0 15px 0;
  color: #000;
}
@media screen and (max-width: 1199px) {
  #features .features-card h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  #features .features-card h4 {
    font-size: 20px;
    padding: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  #features .features-card h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  #features .features-card h4 {
    padding: 8px 0;
    line-height: 20px;
  }
}
#features .features-card p {
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #949494;
  max-width: 293px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #features .features-card p {
    text-align: inherit;
    max-width: 100%;
  }
}
#features:after {
  position: absolute;
  top: 175px;
  left: 0;
  content: "";
  width: 51px;
  height: 112px;
  background-image: url(../images/dotted.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  #features:after {
    display: none;
  }
}

#about {
  padding-bottom: 140px;
}
@media screen and (max-width: 1199px) {
  #about {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 767px) {
  #about {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  #about {
    padding-bottom: 30px;
  }
}
#about .about-main {
  display: flex;
  column-gap: 72px;
  position: relative;
}
@media screen and (max-width: 991px) {
  #about .about-main {
    column-gap: 40px;
  }
}
#about .about-main .about-left {
  display: flex;
  column-gap: 30px;
  width: calc(49% - 72px);
}
@media screen and (max-width: 991px) {
  #about .about-main .about-left {
    width: calc(50% - 40px);
    column-gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  #about .about-main .about-left {
    width: 100%;
  }
}
#about .about-main .about-left .about-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#about .about-main .about-left .about-image img {
  width: 100%;
  transform: scale(1);
  transition: all ease 0.5s;
}
#about .about-main .about-left .about-image img:hover {
  transform: scale(1.2);
}
#about .about-main .about-left .about-image:nth-child(even) {
  position: relative;
  margin-top: 62px;
}
@media screen and (max-width: 767px) {
  #about .about-main .about-left .about-image:nth-child(even) {
    margin-top: 0;
  }
}
#about .about-main .about-right {
  width: 50%;
}
@media screen and (max-width: 991px) {
  #about .about-main .about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #about .about-main .about-right {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  #about .about-main .about-right {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  #about .about-main .about-right h6 {
    letter-spacing: 0;
  }
}
#about .about-main .about-right h2 {
  font-size: 48px;
  line-height: 67px;
  padding: 18px 0 29px 0;
}
@media screen and (max-width: 1199px) {
  #about .about-main .about-right h2 {
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 991px) {
  #about .about-main .about-right h2 {
    font-size: 30px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  #about .about-main .about-right h2 {
    padding: 15px 0;
  }
}
@media screen and (max-width: 575px) {
  #about .about-main .about-right h2 {
    font-size: 25px;
    line-height: 25px;
    padding: 5px 0 15px 0;
  }
}
#about .about-main .about-right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #818181;
  font-family: poppins;
  max-width: 500px;
  margin-bottom: 26px;
}
@media screen and (max-width: 767px) {
  #about .about-main .about-right p {
    margin: 0 0 15px 0;
  }
}
#about .about-main .about-right a.btn {
  transition: all 0.5s;
}
@media screen and (max-width: 575px) {
  #about .about-main .about-right a.btn {
    padding: 7px 10px;
    font-size: 14px;
  }
}
#about .about-main .about-right a.btn:hover {
  background-color: #031333;
  color: white;
}
#about .about-main::after {
  position: absolute;
  width: 112px;
  background-image: url(../images/Combined\ Shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  bottom: 42px;
  left: -34px;
  z-index: -1;
  content: "";
  height: 112px;
}
@media screen and (max-width: 1199px) {
  #about .about-main::after {
    display: none;
  }
}

#service {
  padding: 96px 0;
  background-color: #031333;
}
@media screen and (max-width: 991px) {
  #service {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  #service {
    padding: 40px 0;
  }
}
@media screen and (max-width: 575px) {
  #service {
    padding: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  #service .row {
    row-gap: 15px;
  }
}
#service .service-title {
  text-align: center;
  width: 100%;
  margin-bottom: 74px;
}
@media screen and (max-width: 991px) {
  #service .service-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  #service .service-title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  #service .service-title h6 {
    letter-spacing: 0;
    margin-bottom: 5px;
  }
}
#service .service-title h2 {
  color: white;
}
@media screen and (max-width: 991px) {
  #service .service-title h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 767px) {
  #service .service-title h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  #service .service-title h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
#service .service-card {
  position: relative;
  width: calc(50% - 26px);
}
@media screen and (max-width: 767px) {
  #service .service-card {
    width: 100%;
  }
}
#service .service-card .service-card-image {
  width: 100%;
  overflow: hidden;
}
#service .service-card .service-card-image img {
  width: 100%;
  transition: all ease 0.5s;
  transform: scale(1);
}
#service .service-card .service-card-image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0) 101.68%);
}
#service .service-card .service-card-image:hover img {
  transform: scale(1.2);
}
#service .service-card .service-card-image .service-card-text {
  position: absolute;
  bottom: 84px;
  left: 37px;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  #service .service-card .service-card-image .service-card-text {
    bottom: 30px;
    left: 15px;
    right: 15px;
  }
}
@media screen and (max-width: 575px) {
  #service .service-card .service-card-image .service-card-text h4 {
    font-size: 18px;
  }
}
#service .service-card .service-card-image .service-card-text p {
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-family: poppins;
  font-weight: 400;
  line-height: 25px;
  max-width: 388px;
}
@media screen and (max-width: 575px) {
  #service .service-card .service-card-image .service-card-text p {
    margin-top: 0;
    line-height: 20px;
    font-size: 14px;
  }
}

#project {
  width: 100%;
  display: block;
  padding: 173px 0 171px 0;
}
@media screen and (max-width: 767px) {
  #project .row {
    row-gap: 15px;
  }
}
@media screen and (max-width: 1199px) {
  #project {
    padding: 70px 0;
  }
}
@media screen and (max-width: 991px) {
  #project {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  #project {
    padding: 45px 0;
  }
}
@media screen and (max-width: 575px) {
  #project {
    padding: 30px 0;
  }
}
#project .project-left {
  width: calc(47% - 133px);
  position: relative;
}
@media screen and (max-width: 991px) {
  #project .project-left {
    width: calc(47% - 60px);
  }
}
@media screen and (max-width: 767px) {
  #project .project-left {
    width: 100%;
  }
}
#project .project-left .pro-left-image {
  overflow: hidden;
  position: relative;
}
#project .project-left .pro-left-image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: scale(1);
}
#project .project-left .pro-left-image img:hover {
  transform: scale(1.2);
}
#project .project-left .pro-design {
  position: absolute;
  bottom: -39px;
  right: -52px;
  width: 213px;
  height: 195px;
  padding: 10px;
  z-index: 11;
  background-color: white;
  box-shadow: -1px -1px 11px 8px rgba(121, 111, 109, 0.1);
}
@media screen and (max-width: 1199px) {
  #project .project-left .pro-design {
    bottom: -8px;
  }
}
@media screen and (max-width: 991px) {
  #project .project-left .pro-design {
    bottom: -8px;
    right: -18px;
  }
}
@media screen and (max-width: 767px) {
  #project .project-left .pro-design {
    display: none;
  }
}
#project .project-left .pro-design h6 {
  color: #000;
  font-size: 14px;
  font-family: poppins;
  letter-spacing: normal;
}
#project .project-left .pro-design ul {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  column-gap: 10px;
}
#project .project-left .pro-design ul li {
  width: 50%;
  font-size: 12px;
  text-align: center;
}
#project .project-left .pro-design ul li a {
  color: green;
  padding: 8px 10px;
  background-color: rgb(126, 204, 126);
  border-radius: 20px;
  display: block;
}
#project .project-left .pro-design ul li a.active {
  background-color: rgb(246, 212, 218);
  color: rgb(233, 127, 145);
}
#project .project-left .pro-design .range {
  width: 100%;
}
#project .project-left .pro-design .range ul {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
#project .project-left .pro-design .range ul li {
  text-align: start;
  font-family: poppins;
  width: 50%;
  font-size: 12px;
}
#project .project-left .pro-design .range ul li.range {
  text-align: end;
}
#project .project-left .pro-design .range input {
  width: 100%;
}
#project .project-left .pro-design .range input range {
  background-color: #F54C1E;
  color: #F54C1E;
}
#project .project-left .pro-design-bottom {
  display: flex;
  align-items: center;
}
#project .project-left .pro-design-bottom ul {
  justify-content: inherit;
  column-gap: inherit;
  display: flex;
  align-items: center;
}
#project .project-left .pro-design-bottom ul li {
  text-align: start;
  font-size: 10px;
  width: calc(50% - 15px);
  font-family: poppins;
}
#project .project-left::after {
  position: absolute;
  width: 112px;
  background-image: url(../images/Combined\ Shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: -33px;
  left: -42px;
  z-index: -1;
  content: "";
  height: 112px;
}
#project .project-right {
  width: 56%;
}
@media screen and (max-width: 991px) {
  #project .project-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #project .project-right {
    width: 100%;
  }
}
#project .project-right h6 {
  padding-top: 10px;
  padding-bottom: 18px;
}
@media screen and (max-width: 767px) {
  #project .project-right h6 {
    padding: 10px 0;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 575px) {
  #project .project-right h6 {
    padding: 0 0 5px 0;
  }
}
@media screen and (max-width: 1199px) {
  #project .project-right h2 {
    font-size: 42px;
  }
}
@media screen and (max-width: 991px) {
  #project .project-right h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  #project .project-right h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
#project .project-right p {
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  color: #818181;
  line-height: 25px;
  max-width: 503px;
  padding: 29px 0 28px 0;
}
@media screen and (max-width: 1199px) {
  #project .project-right p {
    padding: 15px 0;
  }
}
@media screen and (max-width: 575px) {
  #project .project-right p {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
  }
}
#project .project-right ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (max-width: 1199px) {
  #project .project-right ul {
    row-gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  #project .project-right ul {
    row-gap: 0;
    text-align: start;
  }
}
#project .project-right ul li {
  align-items: center;
  display: flex;
}
#project .project-right ul li span {
  display: block;
  font-size: 20px;
  font-family: poppins;
  font-weight: 500;
  color: #989898;
  width: 4%;
}
#project .project-right ul li a {
  width: 96%;
  display: block;
  font-size: 20px;
  font-family: poppins;
  font-weight: 500;
  color: #989898;
}
@media screen and (max-width: 575px) {
  #project .project-right ul li a {
    font-size: 15px;
    line-height: 20px;
    padding-left: 10px;
  }
}

#global {
  padding-bottom: 130px;
}
@media screen and (max-width: 1199px) {
  #global {
    padding: 70px 0;
  }
}
@media screen and (max-width: 767px) {
  #global {
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 575px) {
  #global {
    padding: 0 0 30px 0;
  }
}
#global .global-title {
  text-align: center;
  padding-bottom: 86px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  #global .global-title {
    padding-bottom: 74px;
  }
}
@media screen and (max-width: 991px) {
  #global .global-title {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  #global .global-title {
    padding-bottom: 15px;
  }
}
#global .global-title h6 {
  margin-bottom: 26px;
}
@media screen and (max-width: 767px) {
  #global .global-title h6 {
    margin-bottom: 5px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  #global .global-title h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 575px) {
  #global .global-title h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
#global .global-card-main {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  #global .global-card-main {
    row-gap: 15px;
    column-gap: 15px;
  }
}
#global .global-card-main .global-card {
  width: calc(25% - 22.5px);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  #global .global-card-main .global-card {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 575px) {
  #global .global-card-main .global-card {
    width: 100%;
    padding: 0 15px;
  }
}
#global .global-card-main .global-card::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0) 101.68%);
}
@media screen and (max-width: 575px) {
  #global .global-card-main .global-card::after {
    left: 15px;
    right: 15px;
    width: auto;
  }
}
#global .global-card-main .global-card:hover img {
  transform: scale(1.2);
}
#global .global-card-main .global-card img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all ease 0.5s;
}
#global .global-card-main .global-card .global-card-text {
  position: absolute;
  bottom: 34px;
  left: 43px;
  right: 15px;
  z-index: 11;
}
@media screen and (max-width: 767px) {
  #global .global-card-main .global-card .global-card-text {
    left: 15px;
  }
}
@media screen and (max-width: 575px) {
  #global .global-card-main .global-card .global-card-text {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  #global .global-card-main .global-card .global-card-text h4 {
    font-size: 22px;
  }
}
#global .global-card-main .global-card .global-card-text p {
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: 25px;
  font-weight: 400;
}

#together {
  position: relative;
  padding: 127px 0;
}
@media screen and (max-width: 1199px) {
  #together {
    padding: 70px 0;
  }
}
@media screen and (max-width: 991px) {
  #together {
    padding: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  #together {
    padding: 40px 0;
  }
}
@media screen and (max-width: 575px) {
  #together {
    padding: 30px 0;
  }
}
#together .together-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #together .together-content {
    text-align: center;
    justify-content: center;
  }
}
#together .together-content h2 {
  color: white;
  max-width: 750px;
}
@media screen and (max-width: 1199px) {
  #together .together-content h2 {
    font-size: 42px;
    max-width: 700px;
  }
}
@media screen and (max-width: 991px) {
  #together .together-content h2 {
    font-size: 30px;
    max-width: 100%;
    line-height: 40px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 575px) {
  #together .together-content h2 {
    font-size: 22px;
    max-width: 100%;
    line-height: 30px;
    margin-bottom: 15px;
  }
}
#together .together-content .btn {
  border: solid 1px transparent;
  transition: all 0.5s;
}
@media screen and (max-width: 575px) {
  #together .together-content .btn {
    padding: 7px 10px;
  }
}
#together .together-content .btn:hover {
  background-color: transparent;
  border: solid 1px #fff;
}
#together::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -2;
  background: url("../images/together-bg.png") no-repeat center center/cover;
  background-attachment: fixed;
  content: "";
}
#together::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: 0;
  content: "";
  background-color: rgba(3, 19, 51, 0.6980392157);
}

#team {
  padding: 130px 0;
  position: relative;
}
@media screen and (max-width: 1199px) {
  #team {
    padding: 70px 0;
  }
}
@media screen and (max-width: 991px) {
  #team {
    padding: 50px 0;
  }
}
@media screen and (max-width: 575px) {
  #team {
    padding: 30px 0;
  }
}
#team .team-title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
@media screen and (max-width: 1199px) {
  #team .team-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 991px) {
  #team .team-title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  #team .team-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  #team .team-title {
    margin-bottom: 15px;
  }
}
#team .team-title h6 {
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  #team .team-title h6 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 991px) {
  #team .team-title h6 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  #team .team-title h6 {
    margin: 0 0 5px 0;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  #team .team-title h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (max-width: 575px) {
  #team .team-title h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
#team .team-card-main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 30px;
}
@media screen and (max-width: 767px) {
  #team .team-card-main {
    row-gap: 15px;
  }
}
#team .team-card-main .team-card {
  width: calc(33.33% - 20px);
  background-color: white;
}
@media screen and (max-width: 767px) {
  #team .team-card-main .team-card {
    width: 100%;
  }
}
#team .team-card-main .team-card .team-card-image {
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
#team .team-card-main .team-card .team-card-image img {
  width: 100%;
  transform: scale(1);
  transition: all ease 0.5s;
}
#team .team-card-main .team-card .team-card-image img:hover {
  transform: scale(1.2);
}
#team .team-card-main .team-card .team-card-text {
  padding: 27px 25px;
  border: solid 1px #F5F5F5;
  border-radius: 0 0 15px 15px;
}
@media screen and (max-width: 767px) {
  #team .team-card-main .team-card .team-card-text {
    padding: 15px 0;
    text-align: center;
  }
}
#team .team-card-main .team-card .team-card-text h5 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  #team .team-card-main .team-card .team-card-text h5 {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  #team .team-card-main .team-card .team-card-text h5 {
    font-size: inherit;
    margin-bottom: inherit;
  }
}
#team .team-card-main .team-card .team-card-text p {
  color: #676972;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 991px) {
  #team .team-card-main .team-card .team-card-text p {
    font-size: 10px;
  }
}
#team::after {
  position: absolute;
  top: 130px;
  right: 0;
  content: "";
  width: 51px;
  height: 112px;
  background-image: url(../images/dotted.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #team::after {
    display: none;
  }
}
#team::before {
  position: absolute;
  bottom: 130px;
  left: 0;
  content: "";
  width: 51px;
  height: 112px;
  background-image: url(../images/dotted.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #team::before {
    display: none;
  }
}

#news {
  padding-bottom: 105px;
}
@media screen and (max-width: 1199px) {
  #news {
    padding: 0 0 70px 0;
  }
}
@media screen and (max-width: 767px) {
  #news {
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 575px) {
  #news {
    padding: 0 0 30px 0;
  }
}
#news .news-bg {
  background-color: #F3F3F3;
  width: 100%;
  padding: 85px 0;
}
@media screen and (max-width: 991px) {
  #news .news-bg {
    padding: 50px 0;
  }
}
@media screen and (max-width: 575px) {
  #news .news-bg {
    padding: 30px 0;
  }
}
#news .news-bg .news-box {
  width: 70%;
  border-right: solid 1px #000;
  padding-right: 40px;
}
@media screen and (max-width: 991px) {
  #news .news-bg .news-box {
    width: 100%;
    border: none;
    text-align: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  #news .news-bg .news-box {
    text-align: center;
  }
}
#news .news-bg .news-box h4 {
  color: #000;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  #news .news-bg .news-box h4 {
    font-size: 23px;
    line-height: 30px;
  }
}
@media screen and (max-width: 575px) {
  #news .news-bg .news-box h4 {
    margin-bottom: 8px;
  }
}
#news .news-bg .news-box p {
  font-family: poppins;
  line-height: 25px;
}
@media screen and (max-width: 575px) {
  #news .news-bg .news-box p {
    line-height: 20px;
  }
}
#news .news-bg .news-button {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media screen and (max-width: 991px) {
  #news .news-bg .news-button {
    justify-content: start;
    margin-top: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  #news .news-bg .news-button {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  #news .news-bg .news-button {
    margin-top: 8px;
  }
}
#news .news-bg .news-button a.btn {
  transition: all 0.5s;
  padding: 16px 32px;
  height: fit-content;
}
@media screen and (max-width: 767px) {
  #news .news-bg .news-button a.btn {
    padding: 16px 27px;
  }
}
@media screen and (max-width: 575px) {
  #news .news-bg .news-button a.btn {
    padding: 7px 10px;
  }
}
#news .news-bg .news-button a.btn:hover {
  background-color: white;
  color: #F54C1E;
}

#footer {
  background-color: #031333;
  padding: 86px 0 73px 0;
}
@media screen and (max-width: 1199px) {
  #footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 991px) {
  #footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: 575px) {
  #footer {
    padding: 30px 0;
  }
}
@media screen and (max-width: 991px) {
  #footer .footer-1 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  #footer .footer-1 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
#footer .footer-1 .footer-image {
  width: 88px;
  height: 52px;
}
#footer .footer-1 p {
  color: #fdfdfd;
  font-family: Inter;
  font-size: 16px;
  line-height: 25px;
  max-width: 260px;
  padding: 25px 0 41px 0;
}
@media screen and (max-width: 991px) {
  #footer .footer-1 p {
    padding: 10px 0;
  }
}
#footer .footer-1 ul {
  display: flex;
  column-gap: 30px;
}
@media screen and (max-width: 991px) {
  #footer .footer-1 ul {
    column-gap: 8px;
  }
}
#footer .footer-1 ul li a {
  color: white;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 11;
  height: 50px;
  border-radius: 50%;
  transition: all ease 0.5s;
  background-color: #F54C1E;
  transition: all ease 0.5s;
}
@media screen and (max-width: 991px) {
  #footer .footer-1 ul li a {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}
#footer .footer-1 ul li a:hover {
  background-color: white;
  color: #F54C1E;
}
@media screen and (max-width: 575px) {
  #footer .footer-2 {
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    border-top: solid 1px white;
  }
}
#footer .footer-2 h5 {
  color: white;
  font-family: poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  #footer .footer-2 h5 {
    margin-bottom: 15px;
  }
}
#footer .footer-2 ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media screen and (max-width: 991px) {
  #footer .footer-2 ul {
    row-gap: 10px;
  }
}
#footer .footer-2 ul li a {
  color: white;
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  transition: all ease 0.5s;
}
#footer .footer-2 ul li a:hover {
  color: #F54C1E;
}

/*# sourceMappingURL=style.css.map */
