//color-variables-start\\--
$secondary:#031333;
$black:#000;
$white:#ffff;
$primary:#F54C1E;
$grey:#949494;
$light-grey:#818181;
$light-white:#F4F3F3;
$grey1:#989898;
$dark-grey:#676972;
$grey-2:#fdfdfd;

//color-variables-end\\--



//font-size-variables-start//


$double-extra-large:58px;
$extra-large:48px;
$large:42px;
$large-medium:38px;
$medium:30px;
$small:28px;
$extra-small:20px;
$mini-size:16px;
$small-medium-height:25px;


//font-size-variables-end\\--




//line-height-variables-start\\
$extra-large-height:80px;
$large-height:67px;
$medium-height:53px;
$small-height:44px;
$small:25px;
$extra-small-height:20px;
//line-height-variables-end\\

////breakpoint///
$xl:1365px;
$lg:1199px;
$md:991px;
$sm:767px;
$xs:575px;

